<div id="header">
    <button id="home-button" class="btn btn-danger">Home</button>
    <button id="stylist-button" class="btn btn-danger" >Stylist</button>
    <button id="client-button" class="btn btn-danger" >Clients</button>

</div>