<script src="~/js/Header.js"></script>
<div id="header">
    <button  class="btn btn-danger home-button">Home</button>
    <button  class="btn btn-danger stylist-button" >Stylist</button>
    <button  class="btn btn-danger client-button" >Clients</button>
    <button  class="btn btn-danger Appointment-button" >Appointment</button>

</div>