@{
  Layout = "_Layout";
}
@using HairSalon.Models;
<div class="container-fluid">
  <div class="jumbotron">
    <h1>Error</h1>
  </div>  

    <p>@Model</p>
    <p>@Html.ActionLink("Go Back to Stylists","Index","stylists")</p>
</div>
@Html.Partial("Header")
@Html.Partial("Footer")