@{
  Layout = "_Layout";
}
@using HairSalon.Models;
<div class="container-fluid">
  <div class="jumbotron">
    <h1>Error</h1>
  </div>  
  <div class="card card-body">
    <h3>@Model</h3>
  </div>
  <button  class="btn btn-dark stylist-button" >Stylist</button>
</div>
@Html.Partial("Header")
@Html.Partial("Footer")