@{
  Layout = "_Layout";
}
@using HairSalon.Models;
<div class="container-fluid">
  <div class="jumbotron">
    <h1>Error</h1>
  </div>  
  <div class="card card-body">
    <p>@Model</p>
  </div>
    
</div>
<button  class="btn btn-dark appointment-button" >Stylist</button>
@Html.Partial("Header")
@Html.Partial("Footer")