@{
  Layout = "_Layout";
}
@using HairSalon.Models;
<div class="container-fluid">
  <div class="jumbotron">
    <h1>Error</h1>
  </div>  
  <div class="card card-body">
    <p>@Model</p>
    <p>@Html.ActionLink("Go Back to Clients","Index","clients")</p>
  </div>
    
</div>
@Html.Partial("Header")
@Html.Partial("Footer")